<footer class="bg-slate-100 border-t border-black lg:h-72 flex flex-col">
    <div class="grow flex flex-col justify-center gap-10">
        <p class="text-center text-5xl font-display1">
            <span class="cursor-pointer">elhabchisaid40&#64;gmail.com</span>
        </p>
        <div>
            <ul class="flex justify-center items-center gap-10">
                <li>LinkedIn</li>
                <li>Github</li>
                <li>Upwork</li>
                <li>Twitter</li>
            </ul>
        </div>
    </div>
    <p class="bg-black text-white lg:h-14 flex justify-center items-center">
        © 2024 by Said Elhabchi
    </p>
</footer>