<header class="bg-slate-100 border-b border-black fixed w-full">
    <div class="lg:flex container mx-auto lg:justify-between lg:items-center lg:px-5 lg:h-32">
        <div>
            <img class="cursor-pointer" routerLink="/" src="../../../assets/logo_black.svg" width="300" alt="Logo">
        </div>
        <div>
            <ul class="flex justify-evenly gap-16">
                <li><a routerLink="/" class="hover:text-teal-500">Home</a></li>
                <li><a routerLink="/work" class="hover:text-teal-500">Work</a></li>
                <li><a routerLink="/profile" class="hover:text-teal-500">Profile</a></li>
                <li><a routerLink="/contact" class="hover:text-teal-500">Contact</a></li>
            </ul>
        </div>
    </div>
</header>