<div class="h-fit lg:flex lg:justify-center lg:items-end">
    <div class="container mx-auto lg:grid lg:grid-cols-2 lg:py-32">
        <div class="lg:flex lg:flex-col lg: justify-center gap-10">
            <h1 class="text-center lg:text-9xl font-display1">Get in touch</h1>
            <p class="lg:w-3/4 text-center mx-auto leading-normal">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptas beatae magni deserunt assumenda quidem mollitia non! Consequuntur assumenda accusantium iste quia nihil sunt laudantium nulla cumque possimus vero odit labore harum velit amet, voluptatum quos natus magnam error perspiciatis aut nesciunt hic laboriosam voluptatem. Minus doloremque excepturi quaerat blanditiis.
            </p>
        </div>
        <div>
            <img src="../../../assets/art_dev.jpg" alt="profile">
        </div>
    </div>
</div>
<div class="container mx-auto py-20">
    <form class="px-32 flex flex-col gap-5">
        <div class="grid grid-cols-2 gap-10">
            <div class="flex flex-col gap-5">
                <label for="firstname">Firstname</label>
                <input type="text" id="firstname" name="firstname">
            </div>
            <div class="flex flex-col gap-5">
                <label for="lastname">Lastname</label>
                <input type="text" id="lastname" name="lastname">
            </div>
        </div>
        <div class="grid grid-cols-2 gap-10">
            <div class="flex flex-col gap-5">
                <label for="email">Email</label>
                <input type="text" id="email" name="email">
            </div>
            <div class="flex flex-col gap-5">
                <label for="phone">Phone</label>
                <input type="text" id="phone" name="phone">
            </div>
        </div>
        <div class="flex flex-col gap-5">
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject">
        </div>
        <div class="flex flex-col gap-5">
            <label for="message">Leave a message</label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </div>
        <div class="flex justify-end">
            <button class="px-10 py-2 rounded-3xl border border-black hover:bg-black hover:text-white transition ease-in delay-300">
                submit
            </button>
        </div>
    </form>
</div>